.fill-remaining-space {
    flex: 1 1 auto;
}
.dialog-container-form-field {
    display: flex;
    flex-direction: column;
}

.dialog-container-form-field > * {
    width: 100%;
}
.dialog-container-addUser {
    display: contents !important;
}
.manageOrg{
    min-height: 150px;
}
.mat-dialog-content>.dialog-container-addUser{
    display: contents !important;
}
mat-grid-tile {
    background: #e2f3fa;
}
  