<div>
  <mat-toolbar>
    <span>Details Organization </span>
    <span class="fill-remaining-space"></span>
    
    <a routerLink="/activeOrg">
      <button mat-raised-button color="primary">
        Back
        <i class="material-icons">forward</i>
      </button>
    </a>
  </mat-toolbar>  
</div>

<mat-tab-group (selectedTabChange)="tabClick($event)" >
  <mat-tab label="Information" *ngIf="myOrg">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          <span>{{orgName}}</span> 
          
        </mat-card-title>
        <mat-card-subtitle>Information of the Organization</mat-card-subtitle>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="primary" style="max-height:40px !important" (click)="openDialog4ModifyOrg()">
          <mat-icon matSuffix>mode_edit</mat-icon>
          Modify Organization Information
        </button>
      </mat-card-header>
      <mat-card-content>
        <!-- <mat-grid-list cols="2" rowHeight="11:.6"> -->
        <mat-grid-list cols="4" rowHeight="50px" >  
          <mat-grid-tile [colspan]=1 [rowspan]=1 class="matGridList-figure">Organization Name:</mat-grid-tile>
          <mat-grid-tile [colspan]=3 [rowspan]=1 class="matGridList-figure">{{myOrg.name}}</mat-grid-tile>

          <mat-grid-tile [colspan]=1 [rowspan]=1 class="matGridList-figure">Domain:</mat-grid-tile>
          <mat-grid-tile [colspan]=3 [rowspan]=1 class="matGridList-figure">{{myOrg.slug}}</mat-grid-tile>

          <mat-grid-tile [colspan]=1 [rowspan]=1 class="matGridList-figure">Name:</mat-grid-tile>
          <mat-grid-tile [colspan]=3 [rowspan]=1 class="matGridList-figure">{{myOrg.contacts.name}}</mat-grid-tile>

          <mat-grid-tile [colspan]=1 [rowspan]=1 class="matGridList-figure">Surname:</mat-grid-tile>
          <mat-grid-tile [colspan]=3 [rowspan]=1 class="matGridList-figure">{{myOrg.contacts.surname}}</mat-grid-tile>

          <mat-grid-tile [colspan]=1 [rowspan]=1 class="matGridList-figure">Email:</mat-grid-tile>
          <mat-grid-tile [colspan]=3 [rowspan]=1 class="matGridList-figure">{{myOrg.contacts.email}}</mat-grid-tile>

          <mat-grid-tile [colspan]=1 [rowspan]=1 class="matGridList-figure">Description:</mat-grid-tile>
          <mat-grid-tile [colspan]=3 [rowspan]=1 class="matGridList-figure">{{myOrg.description}}</mat-grid-tile>

          <mat-grid-tile [colspan]=1 [rowspan]=1 class="matGridList-figure">Web:</mat-grid-tile>
          <mat-grid-tile [colspan]=3 [rowspan]=1 class="matGridList-figure">{{myOrg.contacts.web}}</mat-grid-tile>

          <mat-grid-tile [colspan]=1 [rowspan]=1 class="matGridList-figure">Logo:</mat-grid-tile>
          <mat-grid-tile [colspan]=3 [rowspan]=1 class="matGridList-figure">{{myOrg.contacts.logo}}</mat-grid-tile>

          <mat-grid-tile [colspan]=1 [rowspan]=1 class="matGridList-figure">Tag:</mat-grid-tile>
          <mat-grid-tile [colspan]=3 [rowspan]=1 class="matGridList-figure">{{myOrg.tag}}</mat-grid-tile>

          <mat-grid-tile [colspan]=1 [rowspan]=1 class="matGridList-figure">Phone:</mat-grid-tile>
          <mat-grid-tile [colspan]=3 [rowspan]=1 class="matGridList-figure">{{myOrg.contacts.phone}}</mat-grid-tile>

          <mat-grid-tile [colspan]=1 [rowspan]=1 class="matGridList-figure">Status:</mat-grid-tile>
          <mat-grid-tile [colspan]=3 [rowspan]=1 class="matGridList-figure">{{myOrg.active}}</mat-grid-tile>

        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Configuration">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{orgName}}</mat-card-title>
        <mat-card-subtitle>List of Components in the Organization</mat-card-subtitle>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="primary" style="max-height:40px !important" (click)="openDialog4ManageComponent()">
          <mat-icon matSuffix>mode_edit</mat-icon>
          Manage Components
        </button>&nbsp;
      </mat-card-header>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let component of activatedComponents">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{component.componentId}}
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        Tenants
                    </mat-panel-description> -->
                </mat-expansion-panel-header>
                <mat-list>
                  <mat-list-item *ngFor="let tenant of component.tenants; let la=last">
                    {{tenant}}
                    <mat-divider *ngIf="!la"></mat-divider>
                  </mat-list-item>
                </mat-list>
          </mat-expansion-panel>

        </mat-accordion>          
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Users">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{orgName}}</mat-card-title>
        <mat-card-subtitle>List of Users in the Organization</mat-card-subtitle>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="primary" style="max-height:40px !important" (click)="openDialog4AddUser()">
          <i class="material-icons">add_circle_outline</i>
          Add User
        </button>
      </mat-card-header>
      <mat-card-content>
          <mat-table #table [dataSource]="dataSourceUser">
            <!-- Name Column -->
            <ng-container matColumnDef="username">
              <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
            </ng-container>
        
            <!-- Domain Column -->
            <ng-container matColumnDef="roles">
              <mat-header-cell *matHeaderCellDef> Roles </mat-header-cell>
              <!-- <mat-cell *matCellDef="let element"> {{element.roles['0'].role}}  </mat-cell>-->
              <mat-cell *matCellDef="let element"> 
                <button mat-button color="primary" (click)="openDialog4DetailsRole(element.id,element.username)">
                    See Roles
                </button>
              </mat-cell>
            </ng-container>
        
            <!-- owner Column -->
            <ng-container matColumnDef="owner">
              <mat-header-cell *matHeaderCellDef> Owner </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.owner}} </mat-cell>
            </ng-container>
      
            <!-- Status Column -->
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                <button mat-button *ngIf="element.owner" disabled><mat-icon matSuffix>mode_edit</mat-icon></button>
                <button mat-button *ngIf="!element.owner" (click)="openDialog4ModifyUser(element.username)"><mat-icon matSuffix>mode_edit</mat-icon></button>
                <button mat-button (click)="openDialog4DeleteUser(element.id,element.owner)"><mat-icon matSuffix>delete</mat-icon></button>
              </mat-cell>
            </ng-container>
      
            <mat-header-row *matHeaderRowDef="displayedUsersColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedUsersColumns;"></mat-row>
          </mat-table>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>