<div>
  <mat-toolbar>
    <span>Organization details</span>
    <span class="fill-remaining-space"></span>
    
    <a routerLink="/activeOrg">
      <button mat-raised-button color="primary">
        Back
        <i class="material-icons">forward</i>
      </button>
    </a>
  </mat-toolbar>  
</div>

<mat-tab-group >
  <mat-tab label="Information" *ngIf="myOrg">
    <mat-card class="example-card">
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
        <mat-grid-list cols="8" rowHeight="480px">
            <mat-grid-tile [colspan]=1 [rowspan]=1 class="matGridList-figure">
              <img width="100%" *ngIf="!myOrg.contacts.logo" src='https://img.icons8.com/metro/100/000000/organization.png' />
              <img width="100%" *ngIf="myOrg.contacts.logo && (myOrg.contacts.logo.indexOf('http://') == 0 || myOrg.contacts.logo.indexOf('https://') == 0)" src='{{myOrg.contacts.logo}}' onError="this.src='https://img.icons8.com/metro/100/000000/organization.png'"/>
              <img width="100%" *ngIf="myOrg.contacts.logo && myOrg.contacts.logo.indexOf('http://') != 0 && myOrg.contacts.logo.indexOf('https://') != 0" src='http://{{myOrg.contacts.logo}}' onError="this.src='https://img.icons8.com/metro/100/000000/organization.png'"/>

            </mat-grid-tile>
            <mat-grid-tile [colspan]=5 [rowspan]=1 class="matGridList-figure">
              <mat-list role="list">
                <div class="item"><h2>{{myOrg.name}}</h2></div>

                <div class="item"><h4>Domain: {{myOrg.slug}}</h4></div>

                <div class="item"><p>{{myOrg.description}}</p></div>
                
                <div class="item" *ngIf="myOrg.tag != null && myOrg.tag.length > 0">
                  <i class="material-icons center">more</i> 
                  <mat-chip-list>
                      <mat-chip *ngFor="let tag of myOrg.tag">{{tag}}</mat-chip>
                  </mat-chip-list>
                </div>

                <div class="item" *ngIf="myOrg.contacts.web">
                  <i class="material-icons center">web</i> 
                  <a href="{{(myOrg.contacts.web.startsWith('http') ? myOrg.contacts.web : ('http://'+myOrg.contacts.web))}}" target="_blank">{{myOrg.contacts.web}}</a>
                </div>

                <div class="item">
                  <i class="material-icons center">mail</i> 
                  {{myOrg.contacts.name}} {{myOrg.contacts.surname}} (<a href="{{'mailto:'+myOrg.contacts.email}}" target="_blank">{{myOrg.contacts.email}}</a>)
                </div>


                <div class="item" *ngIf="myOrg.contacts.phone != null && myOrg.contacts.phone.length > 0">
                  <i class="material-icons center">phone</i> 
                  <mat-chip-list>
                      <mat-chip *ngFor="let phone of myOrg.contacts.phone">{{phone}}</mat-chip>
                  </mat-chip-list>
                </div>


              </mat-list>

            </mat-grid-tile>
            <mat-grid-tile [colspan]=2 [rowspan]=1 class="matGridList-figure">
              <div>
              <button mat-raised-button color="primary" style="max-height:40px !important" *ngIf="userRights && (userRights.admin == true || userRights.ownedOrganizations.includes(myOrg.id))" (click)="openDialog4ModifyOrg()">
                <mat-icon matSuffix>mode_edit</mat-icon>
                Edit organization information
              </button>
              </div>
            </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Configuration" *ngIf="userRights && (userRights.admin == true || userRights.ownedOrganizations.includes(myOrg.id))">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{orgName}}</mat-card-title>
        <mat-card-subtitle>List of components in the organization</mat-card-subtitle>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="primary" style="max-height:40px !important" *ngIf="userRights && userRights.admin == true" (click)="openDialog4ManageComponent()">
          <mat-icon matSuffix>mode_edit</mat-icon>
          Manage components
        </button> 
      </mat-card-header>
      <mat-card-content>
        <mat-accordion multi="true" displayMode="flat" class="component-accordion">
          <mat-expansion-panel *ngFor="let component of activatedComponents" [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>{{component.componentId}}</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list  class="tenantlist">
              <div *ngFor="let tenant of component.tenants; let la=last">
                {{tenant}}
                <mat-divider *ngIf="!la"></mat-divider>
              </div>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Users" *ngIf="userRights && (userRights.admin == true || userRights.ownedOrganizations.includes(myOrg.id))">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{orgName}}</mat-card-title>
        <mat-card-subtitle>List of users in the organization</mat-card-subtitle>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="primary" style="max-height:40px !important" *ngIf="userRights && (userRights.admin == true || userRights.ownedOrganizations.includes(myOrg.id))" (click)="openDialog4AddUser()">
          <i class="material-icons">add_circle_outline</i>
          Add user
        </button>
      </mat-card-header>
      <mat-card-content>
          <mat-table #table [dataSource]="dataSourceUser">
            <!-- Name Column -->
            <ng-container matColumnDef="username">
              <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
            </ng-container>
        
            <!-- Domain Column -->
            <ng-container matColumnDef="roles">
              <mat-header-cell *matHeaderCellDef> Roles </mat-header-cell>
              <!-- <mat-cell *matCellDef="let element"> {{element.roles['0'].role}}  </mat-cell>-->
              <mat-cell *matCellDef="let element"> 
                <button mat-button color="primary" (click)="openDialog4DetailsRole(element)">
                    See roles
                </button>
              </mat-cell>
            </ng-container>
        
            <!-- owner Column -->
            <ng-container matColumnDef="owner">
              <mat-header-cell *matHeaderCellDef> Owner </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.owner}} </mat-cell>
            </ng-container>
      
            <!-- Status Column -->
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                <button mat-button (click)="openDialog4ModifyUser(element)"><mat-icon matSuffix>mode_edit</mat-icon></button>
                <button mat-button *ngIf="userRights && (userRights.admin == true || userRights.ownedOrganizations.includes(myOrg.id))" (click)="openDialog4DeleteUser(element.id)"><mat-icon matSuffix>delete</mat-icon></button>
              </mat-cell>
            </ng-container>
      
            <mat-header-row *matHeaderRowDef="displayedUsersColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedUsersColumns;"></mat-row>
          </mat-table>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>