<h2 mat-dialog-title *ngIf="data.dialogStatus=='TitleManageComponent'">List of Component</h2>
<h2 mat-dialog-title *ngIf="data.dialogStatus=='TitleModifyOrg'">Update {{data.name}} Information</h2>
<h2 mat-dialog-title *ngIf="data.dialogStatus=='TitleCreateProviderConfig'">Create New Provider Configuration</h2>
<h2 mat-dialog-title *ngIf="data.dialogStatus=='TitleModifyProviderConfig'">Update Provider Configuration</h2>
<h2 mat-dialog-title *ngIf="data.dialogStatus=='TitleAddUser'">Create A New User</h2>
<h2 mat-dialog-title *ngIf="data.dialogStatus=='TitleModifyUser'">Update User Information</h2>
<h2 mat-dialog-title *ngIf="data.dialogStatus=='TitleDeleteUser'">Delete User</h2>
<h2 mat-dialog-title *ngIf="data.dialogStatus=='TitleErrorMessage'">Error: {{data.error.error}}</h2>
<mat-dialog-content>
    <!-- Modify Organization Information -->
    <div *ngIf="data.dialogStatus=='TitleModifyOrg'">
        <!-- Organization Name -->
        <mat-form-field class="dialog-container-form-field" >
            <input matInput  placeholder="Organization Name"  disabled value={{data.myOrg.name}} >
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <!-- Domain name of the Provider Organization -->
        <mat-form-field class="dialog-container-form-field" >
            <input matInput  placeholder="Domain"  disabled value={{data.myOrg.slug}}>
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <!-- Owner Email Address -->
        <mat-form-field class="dialog-container-form-field" >
            <input matInput  placeholder="Email" disabled value={{data.myOrg.contacts.email}}>
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <!-- Name and Surname input field -->
        <table class="nameInput-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="nameInput-full-width" >
                        <input matInput placeholder="Name" name="name" [(ngModel)]='data.myOrg.contacts.name' (keyup)="onKeyChange()" >
                        <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="nameInput-full-width" >
                        <input matInput placeholder="Surname"  [(ngModel)]='data.myOrg.contacts.surname' (keyup)="onKeyChange()" >
                        <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <!-- Description of the Organization -->
        <mat-form-field class="dialog-container-form-field" >
            <textarea matInput  placeholder="Description"   required [(ngModel)]='data.myOrg.description' (keyup)="onKeyChange()" ></textarea>
        </mat-form-field>
        <!-- Organization Web Address -->
        <mat-form-field class="dialog-container-form-field" >
            <input matInput  placeholder="Web Address" [(ngModel)]='data.myOrg.contacts.web' (keyup)="onKeyChange()" >
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <!-- Logo upload of the Organization -->
        <mat-form-field class="dialog-container-form-field" >
            <input  matInput  placeholder="Logo" [(ngModel)]='data.myOrg.contacts.logo' (keyup)="onKeyChange()" >
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <!-- Contact Email Address -->
        <!-- <mat-form-field class="dialog-container-form-field" >
            <input matInput  placeholder="Contact Email"   >
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field> -->
        <!-- Contact Telephone -->
        <mat-form-field class="dialog-container-form-field" >
            <input type="tel" matInput placeholder="Contact Telephone" [(ngModel)]='data.myOrg.contacts.phone' (keyup)="onKeyChange()" >
            <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
        <!-- Tag -->
        <mat-form-field class="dialog-container-form-field" >
            <input matInput  placeholder="Tag"  [(ngModel)]='data.myOrg.tag' (keyup)="onKeyChange()" >
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <!-- Provider check with boolean  -->
        <mat-slide-toggle color="primary" disabled> Active</mat-slide-toggle>
    </div>
    <!-- Manage Component  -->
    <div *ngIf="data.dialogStatus=='TitleManageComponent'" class="manageOrg">
        <mat-expansion-panel *ngFor="let component of data.components; let indexComponent = index;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{component.componentName}}
                </mat-panel-title>
                <mat-panel-description>
                    Add your Tenants
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor="let tenant of component.tenants; let indexTenant = index;  trackBy: trackByTenant">
                <mat-form-field>
                    <input matInput [(ngModel)]="component.tenants[indexTenant]" name="tenant_{{indexTenant}}" (keyup)="onKeyChange()" placeholder="Tenants">
                </mat-form-field>
                <button mat-raised-button color="warn" (click)="removeTenants(indexComponent,indexTenant)">Delete</button>
            </div>
            <button mat-raised-button (click)="addTenant(indexComponent)">Add Tenant</button>
        </mat-expansion-panel>
    </div>

    <!-- Create A Provider Configuration -->
    <div *ngIf="data.dialogStatus=='TitleCreateProviderConfig'">
        <mat-label class="mat-h4">Please provide this information</mat-label>
        <!-- Domain name of the Provider Organization -->
        <mat-form-field class="dialog-container-form-field">
            <input matInput  placeholder="Provider Domain" value="Component Domain" disabled >
        </mat-form-field>
        <!-- Provider check with boolean  -->
        <mat-slide-toggle  color="primary"> Provider</mat-slide-toggle>
        <!-- Domain name of the Provider Organization -->
        <mat-form-field class="dialog-container-form-field">
            <input matInput  placeholder="Tenant"  required >
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
    </div>

    <!-- Modify A Provider Configuration -->
    <div *ngIf="data.dialogStatus=='TitleModifyProviderConfig'">
        <mat-label class="mat-h4">Please Update this information</mat-label>
        <!-- Domain name of the Provider Organization -->
        <mat-form-field class="dialog-container-form-field">
            <input matInput  placeholder="Tenant"  required >
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
    </div>

    <!-- Create A New User -->
    <div *ngIf="data.dialogStatus=='TitleAddUser'">
        <mat-label class="mat-h4">Please provide this information</mat-label>
        <form [formGroup]="formDoc" (ngSubmit)="onSubmit()" novalidate >
            <!-- Username -->
            <mat-form-field class="dialog-container-form-field">
                <input matInput  placeholder="Username"  [formControl]="usernameControl" required>
                <mat-icon matSuffix>mode_edit</mat-icon>
                <mat-error *ngIf="usernameControl.invalid">{{getErrorMessage4username()}}</mat-error>
            </mat-form-field>
        </form>
        <mat-radio-group class="example-radio-group" [(ngModel)]="selectedCat">
            <mat-radio-button class="example-radio-button" *ngFor="let cat of category"  [value]="cat.name" [checked]="cat.checked">
                {{cat.name}}&nbsp;
            </mat-radio-button>
        </mat-radio-group>
        
        <div *ngIf="selectedCat=='User'">
            <div class="example-selected-value">
                <!-- Select Component  -->
                <mat-form-field class="dialog-container-form-field">
                    <mat-select placeholder="Component" #changeValue>
                        <mat-option value=""  *ngFor="let component of data.components">{{component.componentId}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- Select Tenant  -->
                <mat-form-field class="dialog-container-form-field">
                    
                    <mat-select placeholder="Tenant" >
                        <mat-option value="ten1">Tenant1</mat-option>
                        <mat-option value="ten1">{{changeValue.value}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- Select Role  -->
                <mat-form-field class="dialog-container-form-field">
                    <mat-select placeholder="Role">
                        <mat-option value="role1">Owner</mat-option>
                        <mat-option value="role2">Admin</mat-option>
                        <mat-option value="role3">User</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <!-- Modify A User -->
    <div *ngIf="data.dialogStatus=='TitleModifyUser'">
        <mat-label class="mat-h4">Please Update this information</mat-label>
        <!-- Username -->
        <mat-form-field class="dialog-container-form-field">
            <input matInput  disabled value={{data.name}}  >
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <!-- Select Role  -->
        <mat-form-field class="dialog-container-form-field">
            <mat-select placeholder="Role">
                <mat-option value="owner">Owner</mat-option>
                <mat-option value="admin">Admin</mat-option>
                <mat-option value="user">User</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <!-- Delete A User -->
    <div *ngIf="data.dialogStatus=='TitleDeleteUser'">
        <mat-label class="mat-h4">Are you sure to delete this user?</mat-label>
    </div>

    <!-- Error Message -->
    <div *ngIf="data.dialogStatus=='TitleErrorMessage'">
        <mat-label class="mat-h4"><b>Message:</b>{{data.error.error_description}}</mat-label>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button *ngIf="data.dialogStatus=='TitleModifyOrg'"
        tabindex="1"
        [mat-dialog-close]="true"    
        [disabled]="!tenantControl_status"     
        >OK
    </button>
    <button mat-button *ngIf="data.dialogStatus=='TitleManageComponent'"
        tabindex="1"
        [mat-dialog-close]="tenantControl_status"    
        [disabled]="!tenantControl_status"     
        >OK
    </button>
    <button mat-button *ngIf="data.dialogStatus=='TitleAddUser' && selectedCat=='Owner'"
        [mat-dialog-close]="{username:usernameControl.value}" 
        [disabled]="usernameControl.invalid"
        tabindex="1">OK
    </button>
    <button mat-button *ngIf="data.dialogStatus=='TitleDeleteUser'"
        [mat-dialog-close]=true
        tabindex="1">OK
    </button>
    <span class="fill-remaining-space"></span>
    <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</mat-dialog-actions>