<h2 mat-dialog-title *ngIf="data.dialogStatus=='TitleManageComponent'">List of components</h2>
<h2 mat-dialog-title *ngIf="data.dialogStatus=='TitleModifyOrg'">Update {{data.name}} information</h2>
<h2 mat-dialog-title *ngIf="data.dialogStatus=='TitleCreateProviderConfig'">Create new provider configuration</h2>
<h2 mat-dialog-title *ngIf="data.dialogStatus=='TitleModifyProviderConfig'">Update provider configuration</h2>
<h2 mat-dialog-title *ngIf="data.dialogStatus=='TitleAddUser'">Create a new user</h2>
<h2 mat-dialog-title *ngIf="data.dialogStatus=='TitleModifyUser'">Update user information</h2>
<h2 mat-dialog-title *ngIf="data.dialogStatus=='TitleDeleteUser'">Delete user</h2>
<h2 mat-dialog-title *ngIf="data.dialogStatus=='TitleDetailsRole'">Roles of {{data.username}}</h2>
<h2 mat-dialog-title *ngIf="data.dialogStatus=='TitleErrorMessage'">Error: </h2>
<mat-dialog-content>
    <!-- Modify Organization Information -->
    <div *ngIf="data.dialogStatus=='TitleModifyOrg'">
        <!-- Organization Name -->
        <mat-form-field class="dialog-container-form-field" >
            <input matInput  placeholder="Name of the organization"  disabled value={{data.myOrg.name}} >
            <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
        </mat-form-field>
        <!-- Domain name of the Provider Organization -->
        <mat-form-field class="dialog-container-form-field" >
            <input matInput  placeholder="Domain"  disabled value={{data.myOrg.slug}}>
            <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
        </mat-form-field>
        <!-- Owner Email Address -->
        <mat-form-field class="nameInput-full-width" >
            <input matInput placeholder="Owner's e-mail address" required name="email" [(ngModel)]='data.myOrg.contacts.email' (keyup)="onKeyChange()" >
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <!-- Name and Surname input field -->
        <table class="nameInput-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="nameInput-full-width" >
                        <input matInput placeholder="Owner's name" required name="name" [(ngModel)]='data.myOrg.contacts.name' (keyup)="onKeyChange()" >
                        <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="nameInput-full-width" >
                        <input matInput placeholder="Owner's surname" required [(ngModel)]='data.myOrg.contacts.surname' (keyup)="onKeyChange()" >
                        <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <!-- Description of the Organization -->
        <mat-form-field class="dialog-container-form-field" >
            <textarea matInput  placeholder="Description" required [(ngModel)]='data.myOrg.description' (keyup)="onKeyChange()" ></textarea>
        </mat-form-field>
        <!-- Organization Web Address -->
        <mat-form-field class="dialog-container-form-field" >
            <input matInput  placeholder="Web address" [(ngModel)]='data.myOrg.contacts.web' (keyup)="onKeyChange()" >
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <!-- Logo upload of the Organization -->
        <mat-form-field class="dialog-container-form-field" >
            <input  matInput  placeholder="Logo URL" [(ngModel)]='data.myOrg.contacts.logo' (keyup)="onKeyChange()" >
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <!-- Contact Telephone -->
        <mat-list-item>Phone numbers</mat-list-item>
        <td *ngFor="let num of data.myOrg.contacts.phone; let i = index">
            <button mat-raised-button (mousedown)='removeStringFromArray(data.myOrg.contacts.phone, i)'>{{num}}
                <mat-icon>close</mat-icon>
            </button>
        </td>
        <mat-form-field class="dialog-container-form-field" >
            <input type="tel" [(ngModel)]="newPhoneNumber" name="newPhoneNumber" matInput placeholder="Add number (hit space to confirm)" (keyup.space)="addStringToArray(data.myOrg.contacts.phone, newPhoneNumber); newPhoneNumber = null;" >
            <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
        <!-- Tag -->
        <mat-list-item>Tags</mat-list-item>
        <td *ngFor="let t of data.myOrg.tag; let i = index">
            <button mat-raised-button (mousedown)='removeStringFromArray(data.myOrg.tag, i)'>{{t}}
                <mat-icon>close</mat-icon>
            </button>
        </td>
        <mat-form-field class="dialog-container-form-field" >
            <input [(ngModel)]="newTag" name="newTag" matInput placeholder="Add tag (hit space to confirm)" (keyup.space)="addStringToArray(data.myOrg.tag, newTag); newTag = null;" >
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <!-- Provider check with boolean  -->
        <mat-slide-toggle color="primary" disabled [checked]="data.myOrg.active"> Active</mat-slide-toggle>
    </div>
    <!-- Manage Component  -->
    <div *ngIf="data.dialogStatus=='TitleManageComponent'" class="manageOrg">
        <mat-expansion-panel *ngFor="let component of data.components; let indexComponent = index;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{component.componentName}}
                </mat-panel-title>
                <mat-panel-description>
                    Add tenants
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor="let tenant of component.tenants; let indexTenant = index;  trackBy: trackByTenant">
                <mat-form-field>
                    <input matInput [(ngModel)]="component.tenants[indexTenant]" name="tenant_{{indexTenant}}" (keyup)="onKeyChange()" placeholder="Tenants">
                </mat-form-field>
                <button mat-raised-button color="warn" (click)="removeTenant(data.components, indexComponent, indexTenant)">Delete</button>
            </div>
            <button mat-raised-button (click)="addTenant(data.components, indexComponent)">Add tenant</button>
        </mat-expansion-panel>
        <br/>
    </div>

    <!-- Create A Provider Configuration -->
    <div *ngIf="data.dialogStatus=='TitleCreateProviderConfig'">
        <mat-label class="mat-h4">Please provide this information</mat-label>
        <!-- Domain name of the Provider Organization -->
        <mat-form-field class="dialog-container-form-field">
            <input matInput  placeholder="Provider Domain" value="Component Domain" disabled >
        </mat-form-field>
        <!-- Provider check with boolean  -->
        <mat-slide-toggle  color="primary"> Provider</mat-slide-toggle>
        <!-- Domain name of the Provider Organization -->
        <mat-form-field class="dialog-container-form-field">
            <input matInput  placeholder="Tenant"  required >
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
    </div>

    <!-- Modify A Provider Configuration -->
    <div *ngIf="data.dialogStatus=='TitleModifyProviderConfig'">
        <mat-label class="mat-h4">Please update this information</mat-label>
        <!-- Domain name of the Provider Organization -->
        <mat-form-field class="dialog-container-form-field">
            <input matInput  placeholder="Tenant"  required >
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
    </div>

    <!-- Create A New User -->
    <div *ngIf="data.dialogStatus=='TitleAddUser'" class="dialog-container-addUser">
        <form [formGroup]="formDoc" (ngSubmit)="onSubmit()" novalidate *ngIf="!data.name" >
            <!-- Username -->
            <mat-form-field class="dialog-container-form-field">
                <input matInput  placeholder="Username"  [formControl]="usernameControl" required>
                <mat-icon matSuffix>mode_edit</mat-icon>
                <mat-error *ngIf="usernameControl.invalid">{{getErrorMessage4username()}}</mat-error>
            </mat-form-field>
            <mat-slide-toggle color="primary" *ngIf="data.userRights && data.userRights.admin == true; else ownerDisabled" [formControl]="ownerControl">Owner</mat-slide-toggle>
            <ng-template #ownerDisabled>
              <mat-slide-toggle color="primary" disabled [formControl]="ownerControl">Owner</mat-slide-toggle>
            </ng-template>
        </form>
        <br/>
        <div class="userRoles">
            <mat-label class="mat-h4">User roles</mat-label>
            <mat-card *ngFor="let userRole of data.newUserRoles; let in=index">
                <mat-card-header>
                    <mat-card-title class="mat-h4">{{userRole.contextSpace}}/{{userRole.role}}</mat-card-title>
                    <span class="fill-remaining-space"></span>
                    <button mat-button tabindex="-1" (click)="removeRoleFromNewUser(data.newUserRoles,in)"><mat-icon matSuffix>delete</mat-icon></button>
                </mat-card-header>
            </mat-card>
        </div>
        <br/>
        <mat-card>
            <mat-card-header class="mat-h4">Add roles</mat-card-header>
            <mat-card-content>
                <!-- Select Component  -->
                <mat-form-field class="">
                    <mat-select tabindex="-1" placeholder="Component" [(value)]="selectedComponentId" (change)="getTenantsBySelectedComponent($event.value)">
                        <mat-option value="{{component.componentId}}"  *ngFor="let component of data.components">{{component.componentId}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- Select Tenant  -->
                <mat-form-field class="" *ngIf="selectedComponentId">
                    <div *ngFor="let component of data.components; let in = index">
                        <mat-select placeholder="Tenant" [(value)]="selectedTenant" *ngIf="component.componentId == selectedComponentId">
                            <mat-option value="{{tenant}}" *ngFor="let tenant of component.tenants">{{tenant}}</mat-option>
                        </mat-select>
                    </div>
                </mat-form-field>
                <mat-form-field class="" *ngIf="!selectedComponentId">
                    <mat-select placeholder="Tenant" disabled></mat-select>
                </mat-form-field>
                <!-- Select Role  -->
                <mat-form-field class="" *ngIf="selectedTenant">
                    <mat-select placeholder="Role" [(value)]="selectedRole">
                        <mat-option value="{{role}}" *ngFor="let role of userRoles">{{role}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="" *ngIf="!selectedTenant">
                    <mat-select placeholder="Role" disabled></mat-select>
                </mat-form-field>
                <!-- add role -->
                <button mat-mini-fab *ngIf="selectedRole" color="primary" (click)="addRoleForNewUser(data.newUserRoles, selectedComponentId, selectedTenant, selectedRole)"><mat-icon>add_circle_outline</mat-icon></button>
                <button mat-mini-fab *ngIf="!selectedRole" color="primary" disabled><mat-icon>add_circle_outline</mat-icon></button>
            </mat-card-content>
        </mat-card>
        <br/>
    </div>

    <!-- Modify A User -->
    <div *ngIf="data.dialogStatus=='TitleModifyUser'">
        <!-- Username -->
        <mat-form-field class="dialog-container-form-field">
            <input matInput  disabled value={{data.name}}>
        </mat-form-field>
        <mat-slide-toggle color="primary" *ngIf="data.userRights && data.userRights.admin == true; else ownerDisabled" [checked]="data.userData.owner" (change)="toggleOwner(data.userData.owner)">Owner</mat-slide-toggle>
        <ng-template #ownerDisabled>
          <mat-slide-toggle color="primary" disabled [checked]="data.userData.owner" >Owner</mat-slide-toggle>
        </ng-template>
        <!-- user role -->
        <div class="userRoles" >
            <mat-label class="mat-h4">User roles</mat-label>
            <mat-card *ngFor="let role of data.userData.roles; let in=index" >
                <mat-card-header>
                    <mat-card-title class="mat-h4">{{role.contextSpace}}/{{role.role}}</mat-card-title>
                    <span class="fill-remaining-space"></span>
                    <button mat-button tabindex="-1" (click)="removeRole(data.userData,in)"><mat-icon matSuffix>delete</mat-icon></button>
                </mat-card-header>
            </mat-card>
        </div>
        <br/>
        <mat-card>
            <mat-card-header class="mat-h4">Add roles</mat-card-header>
            <mat-card-content>
                <!-- Select Component  -->
                <mat-form-field class="">
                    <mat-select tabindex="-1" placeholder="Component" [(value)]="selectedComponentId" (change)="getTenantsBySelectedComponent($event.value)">
                        <mat-option value="{{component.componentId}}"  *ngFor="let component of data.components">{{component.componentId}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- Select Tenant  -->
                <mat-form-field class="" *ngIf="selectedComponentId">
                    <div *ngFor="let component of data.components; let in = index">
                        <mat-select placeholder="Tenant" [(value)]="selectedTenant" *ngIf="component.componentId == selectedComponentId">
                            <mat-option value="{{tenant}}" *ngFor="let tenant of component.tenants">{{tenant}}</mat-option>
                        </mat-select>
                    </div>
                </mat-form-field>
                <mat-form-field class="" *ngIf="!selectedComponentId">
                    <mat-select placeholder="Tenant" disabled></mat-select>
                </mat-form-field>
                <!-- Select Role  -->
                <mat-form-field class="" *ngIf="selectedTenant">
                    <mat-select placeholder="Role" [(value)]="selectedRole">
                        <mat-option value="{{role}}" *ngFor="let role of userRoles">{{role}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="" *ngIf="!selectedTenant">
                    <mat-select placeholder="Role" disabled></mat-select>
                </mat-form-field>
                <!-- add role -->
                <button mat-mini-fab *ngIf="selectedRole" color="primary" (click)="addRole(data.userData,selectedComponentId,selectedTenant,selectedRole)"><mat-icon>add_circle_outline</mat-icon></button>
                <button mat-mini-fab *ngIf="!selectedRole" color="primary" disabled><mat-icon>add_circle_outline</mat-icon></button>
            </mat-card-content>
        </mat-card>
        <br/>
    </div>

    <!-- Delete A User -->
    <div *ngIf="data.dialogStatus=='TitleDeleteUser'">
        <mat-label class="mat-h4">Are you sure you wish to delete this user?</mat-label>
    </div>

    <!-- Details Role -->
    <div *ngIf="data.dialogStatus=='TitleDetailsRole'">
        <mat-card *ngFor="let role of data.userData.roles; let in=index">
            <mat-card-header>
                <mat-card-title class="mat-h4">{{role.contextSpace}}/{{role.role}}</mat-card-title>
            </mat-card-header>
        </mat-card> 
        <br/> 
    </div>

    <!-- Error Message -->
    <div *ngIf="data.dialogStatus=='TitleErrorMessage'">
        <mat-label class="mat-h4">{{data.error.error_description}}</mat-label>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button *ngIf="data.dialogStatus=='TitleModifyOrg'"
        tabindex="1"
        [mat-dialog-close]="data.myOrg"
        [disabled]="!tenantControl_status"
        >OK
    </button>
    <button mat-button *ngIf="data.dialogStatus=='TitleManageComponent'"
        tabindex="1"
        [mat-dialog-close]="data.components"
        [disabled]="!tenantControl_status"
        >OK
    </button>
    <button mat-button *ngIf="data.dialogStatus=='TitleAddUser'"
        [mat-dialog-close]="{
            username:usernameControl.value,
            owner:ownerControl.value,
            roles:data.newUserRoles
        }"
        [disabled]="usernameControl.invalid"
        tabindex="1">OK
    </button>
    <button mat-button *ngIf="data.dialogStatus=='TitleModifyUser'"
        [mat-dialog-close]="data.userData" 
        [disabled]="!updateUserRole_status"
        tabindex="1">OK
    </button>
    <button mat-button *ngIf="data.dialogStatus=='TitleDeleteUser'"
        [mat-dialog-close]=true
        tabindex="1">OK
    </button>
    <span class="fill-remaining-space"></span>

    <button mat-button *ngIf="data.dialogStatus != 'TitleDetailsRole'" (click)="onNoClick()" tabindex="-1">Cancel</button>
    <button mat-button *ngIf="data.dialogStatus == 'TitleDetailsRole'" (click)="onNoClick()" tabindex="-1">OK</button>
</mat-dialog-actions>