<h2 mat-dialog-title>User</h2>
<mat-dialog-content>
    <div class="dialog-container-addUser">
        <form [formGroup]="formDoc" novalidate *ngIf="formDoc">
            <!-- Username -->
            <mat-form-field class="dialog-container-form-field" *ngIf="hasEdit">
                <input matInput [(ngModel)]="user.username" type="email" placeholder="Username"  #usernameControl formControlName="usernameControl" required>
                <mat-icon matSuffix>mode_edit</mat-icon>
                <mat-error *ngIf="formDoc.controls.usernameControl.invalid">You must enter the name of the user.</mat-error>
            </mat-form-field>
            <mat-slide-toggle *ngIf="hasEdit" color="primary" [(ngModel)]="user.owner" formControlName="ownerControl">Owner</mat-slide-toggle>
        </form>
        <br/>
        <div class="userRoles">
            <table class="mat-table" *ngIf="roles && roles.length > 0">
                <tbody>
                    <tr class="mat-header-row"><td class="mat-header-cell">Component</td><td class="mat-header-cell">Tenant</td><td class="mat-header-cell">Role</td><td class="mat-header-cell" *ngIf="hasEdit"></td></tr>
                    <tr class="mat-row" *ngFor="let e of roles"><td class="mat-cell">{{e.component}}</td><td class="mat-cell">{{e.tenant}}</td><td class="mat-cell">{{e.role}}</td><td  *ngIf="hasEdit"> <button mat-button tabindex="-1" (click)="removeRole(e)"><mat-icon matSuffix>delete</mat-icon></button></td></tr>
                </tbody>
            </table>
            </div>
        <br/>
        <mat-card  *ngIf="hasEdit">
            <mat-card-header class="mat-h4">Add roles</mat-card-header>
            <mat-card-content>
                <!-- Select Component  -->
                <mat-form-field >
                    <mat-select tabindex="-1" placeholder="Component" [(value)]="selectedComponentId" (change)="componentSelected($event.value)">
                        <mat-option value="{{component.componentId}}"  *ngFor="let component of components">{{component.componentId}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- Select Tenant  -->
                <mat-form-field >
                    <div>
                        <mat-select [disabled]="!selectedComponentId" placeholder="Tenant" [(value)]="selectedTenant">
                            <mat-option value="{{tenant}}" *ngFor="let tenant of tenants">{{tenant}}</mat-option>
                        </mat-select>
                    </div>
                </mat-form-field>
                <!-- Select Role  -->
                <mat-form-field>
                    <mat-select [disabled]="!selectedTenant" placeholder="Role" [(value)]="selectedRole">
                        <mat-option value="{{role}}" *ngFor="let role of tenantRoles">{{role}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- add role -->
                <button mat-mini-fab *ngIf="selectedRole" color="primary" (click)="addRole(selectedComponentId, selectedTenant, selectedRole)"><mat-icon>add_circle_outline</mat-icon></button>
                <button mat-mini-fab *ngIf="!selectedRole" color="primary" disabled><mat-icon>add_circle_outline</mat-icon></button>
            </mat-card-content>
        </mat-card>
        <br/>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="ok()" tabindex="-1" [disabled]="formDoc && formDoc.invalid">OK</button>
    <span class="fill-remaining-space"></span>
    <button mat-button (click)="cancel()" tabindex="-1">Cancel</button>
</mat-dialog-actions>