<div>
  <mat-toolbar>
    <!-- <span>{{ 'Sidenav.Datasets' | translate }}: {{domain}}</span> -->
    <span>Active Organizations </span>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button color="primary" (click)="openDialog4CreateOrg()">
      <i class="material-icons">add_circle_outline</i>
      Create Organization
    </button>
  </mat-toolbar>  
</div>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
    
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Domain Column -->
    <ng-container matColumnDef="domain">
      <mat-header-cell *matHeaderCellDef> Domain </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.slug}} </mat-cell>
    </ng-container>

    <!-- owner Column -->
    <ng-container matColumnDef="owner">
      <mat-header-cell *matHeaderCellDef> Owner </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.contacts.name}} </mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <!-- provider Column -->
    <ng-container matColumnDef="provider">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.contacts.email}} </mat-cell>
    </ng-container>

    <!-- Details Column with button redirect to another page-->
    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef class="matTabHeaderAction"> Actions </mat-header-cell>
      <!-- <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell> -->
      <mat-cell *matCellDef="let element">
        <a routerLink="/detailsOrg/{{element.id}}"> <button mat-button color="primary">Details</button></a>
        <button mat-button (click)="openDialog4ChangeStatusOrg(element.id,element.name)" color="primary"> Disable </button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
