<!-- <div class="dialog-overflow-hidden"> -->
    <h2 mat-dialog-title *ngIf="data.dialogStatus=='TitleCreateOrg'">Create New Organization</h2>
    <h2 mat-dialog-title *ngIf="data.dialogStatus=='TitleChangeStatusOrg'">Disable Organization</h2>
    <h2 mat-dialog-title *ngIf="data.dialogStatus=='TitleErrorMessage'">Error: </h2>
    <mat-dialog-content  >
        <div *ngIf="data.dialogStatus=='TitleChangeStatusOrg'">
            <mat-label class="mat-h4">Disable organization {{data.org_name}}?</mat-label>
        </div>
        <div *ngIf="data.dialogStatus=='TitleCreateOrg'">
            <mat-label class="mat-h4">Please provide this information</mat-label>
            <form [formGroup]="formDoc" (ngSubmit)="onSubmit()" novalidate >
                <!-- Organization Name -->
                <mat-form-field class="dialog-container-form-field" >
                    <input matInput  placeholder="Organization Name"   [formControl]="orgNameControl" required >
                    <mat-icon matSuffix>mode_edit</mat-icon>
                    <mat-error *ngIf="orgNameControl.invalid">{{getErrorMessage4orgName()}}</mat-error>
                </mat-form-field>
                <!-- Domain name of the Provider Organization -->
                <mat-form-field class="dialog-container-form-field">
                    <!-- <input matInput  placeholder="Domain"  [formControl]="orgDomainControl"  required>
                    <mat-icon matSuffix>mode_edit</mat-icon>
                    <mat-error *ngIf="orgDomainControl.invalid">{{getErrorMessage4orgDomain()}}</mat-error> -->
                    <input matInput  placeholder="Domain"   [formControl]="orgDomainControl" >
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
                <!-- Description of the Organization -->
                <mat-form-field class="dialog-container-form-field"  >
                    <textarea matInput  placeholder="Description"  [formControl]="orgDescriptionControl" required ></textarea>
                    <mat-error *ngIf="orgDescriptionControl.invalid">{{getErrorMessage4orgDescription()}}</mat-error>
                </mat-form-field>
                <!-- Owner Email Address -->
                <mat-form-field class="dialog-container-form-field" >
                    <input matInput  placeholder="E-mail Address"  [formControl]="ownerEmailControl" required >
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="ownerEmailControl.invalid">{{getErrorMessage4ownerEmail()}}</mat-error>
                </mat-form-field>

                <!-- Name and Surname input field -->
                <table class="nameInput-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="nameInput-full-width">
                                <input matInput placeholder="Name" [formControl]="ownerNameControl" required>
                                <mat-icon matSuffix>mode_edit</mat-icon>
                                <mat-error *ngIf="ownerNameControl.invalid">{{getErrorMessage4ownerName()}}</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="nameInput-full-width">
                                <input matInput placeholder="Surname" [formControl]="ownerSurnameControl" required>
                                <mat-icon matSuffix>mode_edit</mat-icon>
                                <mat-error *ngIf="ownerSurnameControl.invalid">{{getErrorMessage4ownerSurname()}}</mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                
                
                <!-- Provider check with boolean  -->
                <!-- <mat-slide-toggle  color="primary"> Provider</mat-slide-toggle> -->
                <!-- if provider yes then must entry domain, activity, tenant -->
                <!-- <div *ngIf="checkedProvider">
                    //Domain name of the Provider Organization
                    <mat-form-field class="dialog-container-form-field">
                        <input matInput  placeholder="Domain"  [formControl]="orgDomainControl" required >
                        <mat-icon matSuffix>mode_edit</mat-icon>
                        <mat-error *ngIf="orgDomainControl.invalid">{{getErrorMessage4orgDomain()}}</mat-error>
                    </mat-form-field>
                    //Activity of the Organization with boolean
                    <mat-slide-toggle color="primary">Provider Activated</mat-slide-toggle>
                    //Tenants of the Organization
                    <mat-form-field class="dialog-container-form-field">
                        <input matInput  placeholder="Tenant"  [formControl]="orgDomainControl" required >
                        <mat-icon matSuffix>mode_edit</mat-icon>
                        <mat-error *ngIf="orgDomainControl.invalid">{{getErrorMessage4orgDomain()}}</mat-error>
                    </mat-form-field>
                </div> -->
                <!-- Organization Web Address -->
                <mat-form-field class="dialog-container-form-field" >
                    <input matInput  placeholder="Web Address" [formControl]="webAddressControl">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
                <!-- Logo upload of the Organization -->
                <!-- <mat-form-field class="dialog-container-form-field" >
                    <input  matInput  placeholder="Logo" >
                    <mat-icon matSuffix>attach_file</mat-icon>
                </mat-form-field> -->
                <mat-form-field class="dialog-container-form-field">
                    <!-- <app-input-file formControlName="basicfile" placeholder="Logo Upload" ></app-input-file> -->
                    <!-- <mat-icon matSuffix>attach_file</mat-icon> -->
                    <input matInput  placeholder="Logo URL" [formControl]="logoControl">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
                <!-- Contact Email Address -->
                <!-- <mat-form-field class="dialog-container-form-field" >
                    <input matInput  placeholder="Contact Email"   >
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field> -->
                <!-- Contact Telephone -->
				<mat-list-item>Phone numbers</mat-list-item>
				<td *ngFor="let num of phoneNumbers; let i = index">
					<button mat-raised-button (mousedown)="removePhoneNumber(i)">{{num}}<mat-icon>close</mat-icon></button>
				</td>
				<mat-form-field class="dialog-container-form-field" >
					<input type="tel" [(ngModel)]="newPhoneNumber" [ngModelOptions]="{standalone: true}" name="newPhoneNumber" matInput placeholder="Add Number (hit Space to confirm)" (keyup.space)="addPhoneNumber(newPhoneNumber); newPhoneNumber = null;" >
					<mat-icon matSuffix>phone</mat-icon>
				</mat-form-field>
                <!-- Tag -->
				<mat-list-item>Tags</mat-list-item>
				<td *ngFor="let t of tags; let i = index">
					<button mat-raised-button (mousedown)="removeTag(i)">{{t}}<mat-icon>close</mat-icon></button>
				</td>
				<mat-form-field class="dialog-container-form-field" >
					<input [(ngModel)]="newTag" [ngModelOptions]="{standalone: true}" name="newTag" matInput placeholder="Add Tag (hit Space to confirm)" (keyup.space)="addTag(newTag); newTag = null;" >
					<mat-icon matSuffix>mode_edit</mat-icon>
				</mat-form-field>
                <!-- Active or not the Org -->
                <mat-slide-toggle  color="primary"  [formControl]="statusControl" [checked]="statusControl.value"> Activated</mat-slide-toggle>
                
                <!-- Add Members -->
                <!-- <mat-form-field class="dialog-container-form-field" >
                    <input matInput  placeholder="Add Members"   >
                    <mat-icon matSuffix>person_add</mat-icon>
                </mat-form-field> -->
                <!-- <mat-form-field>
                    <app-input-file formControlName="basicfile" placeholder="Basic Input" ></app-input-file>
                    <mat-icon matSuffix>folder</mat-icon>
                </mat-form-field> -->
            </form>
        </div>
        <!-- Error Message -->
        <div *ngIf="data.dialogStatus=='TitleErrorMessage'">
            <mat-label class="mat-h4"><b>Message:</b>{{data.error.error_description}}</mat-label>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions >
        <button mat-button *ngIf="data.dialogStatus=='TitleChangeStatusOrg'"
            [mat-dialog-close]=
            "{
                orgID:data.org_id,
                status:true
            }" 
            tabindex="-1" 
            color="warn">OK
        </button>
        <button mat-button *ngIf="data.dialogStatus=='TitleCreateOrg'"
            tabindex="1" 
            [mat-dialog-close]=
            "{
                name:orgNameControl.value,
                slug:orgDomainControl.value,
                description:orgDescriptionControl.value,
                contacts:{
                    email:ownerEmailControl.value,
                    name:ownerNameControl.value,
                    surname:ownerSurnameControl.value,
                    web:webAddressControl.value,
                    logo:logoControl.value,
                    phone:phoneNumbers
                },
                tag:tags,
                active:statusControl.value
            }"
            [disabled]="orgNameControl.invalid || ownerEmailControl.invalid || ownerNameControl.invalid || orgDescriptionControl.invalid ">OK
        </button>
        <span class="fill-remaining-space"></span>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </mat-dialog-actions>
<!-- </div> -->